<div class="row">
    <div class="col s8">
        <div class="input-field col s6">
            <input id="title" type="text" class="validate" ng-model="title"> <label for="title">Title</label>
        </div>
        <div class="input-field col s6">
            <input id="price" type="text" class="validate" ng-model="price"> <label for="price">Price</label>
        </div>
        <div class="input-field col s6">
            <input id="description" type="text" class="validate" ng-model="description"> <label for="description">Description</label>
        </div>
        <div class="input-field col s6">
            <input id="image" type="text" class="validate" ng-model="imageUrl"> <label for="image">Image url</label>
        </div>
        <a class="waves-effect waves-light btn" ng-click="addProduct()">Add Product</a>
    </div>
</div>
