<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" ng-src="{{product.imageUrl}}">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{product.title}}
            <i class="material-icons right">more_vert</i>
        </span>
        <p>
            <a href="#" ng-if="!isAdmin">
                <i class="material-icons left">add_shopping_cart</i>
            </a>
            <a ng-if="isAdmin" ng-click="removeProduct(product._id)">
                <i class="material-icons left">remove</i>
            </a>
            ${{product.price}}
        </p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{product.title}}
            <i class="material-icons right">close</i>
        </span>
        <input type="text" value="{{product.title}}">
        <input type="text" value="{{product.price}}">
        <input type="text" value="{{product.description}}">
        <input type="text" value="{{product.imageUrl}}">
        <a class="waves-effect waves-light btn" ng-click="updateProduct(product)"><i
            class="material-icons left">border_color</i>Save</a>
    </div>
</div>
